DATABASE_URL=postgresql://neondb_owner:npg_QeZOxh9DHs2l@ep-round-darkness-ao212x9d-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_URL=https://your-vercel-app.vercel.app
ROBOFLOW_API_KEY=
